:root {
    --nav-height: 70px;
    --footer-height: 120px;
}

canvas {
    max-height: 250px;
}

#gsCustomAnalysisSetup {
    font-size: 0.75em;
}

#gsHashTags a.btn.btn-link.m-2 {
    font-size: 1.25rem;
}

#userPreferredTopics {
    border: 2px dashed #777777;
}

.user .fullname {
    font-weight: 600;
    line-height: 1.2em;
    margin-bottom: 0;
    color: initial;
}

.user .username {
    color: #999999;
    line-height: 1.1em;
    font-size: 0.9em;
    margin-bottom: 0;
}

.tweets-partial .card,
#gsStatsContainer,
.light-gray {
    background-color: #CCC;
}

.tweets-partial .card .card-header {
    background-color: transparent;
    border: none;
}

.tweets-partial .card .card-header .profile_pic {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}

.tweets-partial .card .card-header .profile_pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tweets-partial .card .card-header .profile_pic i {
    color: #ffffff;
    font-size: 16px;
}

.tweets-partial .card .card-header .user .fullname.text-truncate {
    display: inline-block;
    max-width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.tweets-partial .card .card-footer {
    background-color: transparent;
    border: none;
    color: #535c66;
}

.tweets-partial .card .card-footer .tweet-stat {
    margin-right: 16px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
}

.tweets-partial .card .card-footer .tweet-stat span {
    color: #a5a5a5;
    font-size: 0.8em;
}

.tweets-partial .card .card-footer .tweet-stat i {
    margin-right: 6px;
    color: #535c66;
    -webkit-transition: color 0.2s linear;
    -moz-transition: color 0.2s linear;
    -o-transition: color 0.2s linear;
    transition: color 0.2s linear;
}

.tweets-partial .card .card-footer .tweet-stat:hover i {
    color: #38b2ff;
}

.tweets-partial .card .card-body .media img {
    max-width: 100%;
    height: auto;
}

.tweets-partial .card .card-body a {
    color: #1B95E0;
}

.tweets-partial .card .card-body a:hover {
    color: #9fabb6;
}

.most-users-container {
    font-size: 0.9em;
}

.most-users-container h5 {
    font-size: 1em;
    color: #535c66;
}

.most-users-container .item {
    background-color: #ffffff;
}

.most-users-container .item .profile_pic img {
    width: 54px;
    height: 54px;
    margin: 0 auto;
}

.most-users-container .user {
    text-align: center;
}

.most-users-container .user .username.text-truncate {
    display: inline-block;
    max-width: 90px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


#gsCustomAnalysis {
    display: none;
}

.twitterit-dark,
#topTwitterITMenu {
    background-color: #555555 !important;
}

.twitterit-sidebar,
#sidebarCustomAnalysis {
    background-color: #F3F3F3;
}

.twitterit-sidebar a.nav-link,
#sidebarCustomAnalysis a.nav-link {
    background-color: #F2F2F2;
    color: #000000;
}

.twitterit-sidebar a.nav-link:hover,
.twitterit-sidebar a.nav-link.active,
#sidebarCustomAnalysis a.nav-link:hover,
#sidebarCustomAnalysis a.nav-link.active {
    background-color: #AAAAAA;
    color: #FFFFFF;
}

.twitterit-sidebar a.nav-link:hover img,
.twitterit-sidebar a.nav-link.active img,
#sidebarCustomAnalysis a.nav-link:hover img,
#sidebarCustomAnalysis a.nav-link.active img,
.nav-link-img-collapsed{
    filter: invert(1);
}

.twitterit-sidebar a.nav-link img,
#topTwitterITMenu a.nav-link.mx-3 img,
#sidebarCustomAnalysis a.nav-link img {
    width: 34px;
    height: 34px;
    margin-right: 1rem;
}

#sidebarCustomAnalysis>* {
    font-size: 0.875rem;
}



.card-columns {
    column-gap: 3rem;
}

.card {
    border-radius: 0.5rem;
}

.nav-credits{
    font-size: 0.5em;
    position: relative;
    top: 20px;
}

.form-btn {
    background-color: #3f8abe;
    color: #ffffff;
}

.form-btn:hover {
    background-color: #66a2cc;
    color: #ffffff;
}

.analysis_subtitle{
    color:#2f2f2f;
    font-size: 14px;
}

#sentiment {
    margin-top: 10px;
}

#button_generate_report, #button_update_stats{
    background-color:lightgray; 
    border: 1px solid gray; 
    padding:5px; 
    text-align:center; 
    width:80%; 
    margin: 5px auto;
}

@media only screen and (max-width: 340px) {
    .navbar-brand {
        margin-right: 0;
    }
    .tweets-partial .card .card-header .user .fullname.text-truncate {
        max-width: 210px;
    }
    .most-users-container .user .username.text-truncate {
        max-width: 70px;
    }
    .twitterit-sidebar a.nav-link img,
    #topTwitterITMenu a.nav-link.mx-3 img {
        width: 24px;
        height: 24px;
        margin-right: 0.75rem;
    }
    #topTwitterITMenu a.nav-link.mx-3 span.far {
        font-size: 24px;
        line-height: 24px;
        margin-right: 0.75rem;
        color: #000000;
    }
}

@media only screen and (max-width: 500px) {
    .tweets-partial .card .card-header .user .fullname.text-truncate {
        max-width: 210px;
    }
    .twitterit-sidebar a.nav-link img,
    #topTwitterITMenu a.nav-link.mx-3 img {
        width: 24px;
        height: 24px;
        margin-right: 0.75rem;
    }
    #topTwitterITMenu a.nav-link.mx-3 span.far {
        font-size: 24px;
        line-height: 24px;
        margin-right: 0.75rem;
        color: #000000;
    }
}

@media only screen and (min-width : 500px) and (max-width : 820px) {
    .card-columns {
        column-gap: 1.5rem;
        column-count: 2;
    }
    .nav-link {
        padding: 0.5rem 0.5rem;
    }
    .tweets-partial .card .card-header .user .fullname.text-truncate {
        max-width: 210px;
    }
    .twitterit-sidebar a.nav-link img,
    #topTwitterITMenu a.nav-link.mx-3 img {
        width: 24px;
        height: 24px;
        margin-right: 0.75rem;
    }
    #topTwitterITMenu a.nav-link.mx-3 span.far {
        font-size: 24px;
        line-height: 24px;
        margin-right: 0.75rem;
        color: #000000
    }
    .text-truncate {
        max-width: 220px;
    }
}

@media only screen and (min-width: 820px) and (max-width: 1050px) {
    .card-columns {
        column-gap: 1.5rem;
    }
    .nav-link {
        padding: 0.5rem 0.5rem;
    }
    .tweets-partial .card .card-header .user .fullname.text-truncate {
        max-width: 210px;
    }
    .twitterit-sidebar a.nav-link img,
    #topTwitterITMenu a.nav-link.mx-3 img {
        width: 24px;
        height: 24px;
        margin-right: 0.75rem;
    }
    #topTwitterITMenu a.nav-link.mx-3 span.far {
        font-size: 24px;
        line-height: 24px;
        margin-right: 0.75rem;
        color: #000000;
    }
    .most-users-container .user .username.text-truncate {
        max-width: 54px;
    }
}